.action-wrapper {
  display: flex;
  align-items: center;
  .icon-wrapper {
    border-radius: 6px;
    border: 1px solid #d6d6d6;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 8px;

    &:hover {
      background-color: #d6d6d6d3;
    }
  }
}
