<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <div class="form-control">
    <label for="clientId">Client ID *</label>
    <input type="text" id="clientId" formControlName="clientId" />
  </div>
  <div class="form-control">
    <label for="userName">Username *</label>
    <input type="text" id="userName" formControlName="userName" />
  </div>
  <div class="form-control">
    <label for="password">Password *</label>
    <input id="password" formControlName="password" />
  </div>
  <div class="form-control">
    <label for="grantType">Grant Type *</label>
    <ng-select
      [items]="grantTypeList"
      bindLabel="name"
      bindValue="value"
      name="grantType"
      [searchable]="false"
      formControlName="grantType"
    >
    </ng-select>
  </div>
  <div class="form-control">
    <label for="clientSecret">Client Secret</label>
    <input type="text" id="clientSecret" formControlName="clientSecret" />
  </div>
  <div class="form-control">
    <button [disabled]="!loginForm.valid">Login</button>
  </div>
</form>
