select {
  padding: 4px 5px;
  height: 35px;
  border-radius: 8px;
  margin-right: 16px;
  outline: none;
  border: 1px solid #c6c6c5;
  color: #000000;
}

label {
  margin-right: 16px;
}

div {
  display: flex;
  align-items: center;
}
