.form-control {
  margin-bottom: 8px;
  label {
    width: 100%;
    display: block;
  }
  input {
    padding: 2px 4px;
    border-radius: 8px;
    border: 1px solid lightgray;
    width: 100%;
    display: block;
    height: 35px;
    outline: none;
  }
  button {
    height: 35px;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 8px;
  }
}

.edit-icon {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
