<form [formGroup]="configurationForm" (ngSubmit)="submitConfiguration()">
  @if(configurationSubmitted){
  <span class="edit-icon" (click)="editConfiguration()">edit</span>
  }
  <div class="form-control">
    <label for="baseUrl">Base Url *(https://example.com/auth)</label>
    <input type="text" id="baseUrl" formControlName="baseUrl" />
  </div>
  <div class="form-control">
    <label for="realm">Realm *</label>
    <input type="text" id="realm" formControlName="realm" />
  </div>
  @if(!configurationSubmitted){
  <div class="form-control">
    <button [disabled]="!configurationForm.valid">Connect</button>
  </div>
  }
</form>
