<div class="wrapper">
  <header>
    Easy Keycloak
    <div class="user-action">
      <div>{{ displayName }}</div>
      <span (click)="logout()">Logout</span>
    </div>
  </header>
  <section>
    <nav>
      <a routerLink="/app/profile" routerLinkActive="active">Profile</a>
      <a routerLink="/app/token" routerLinkActive="active">Generate Token</a>
      <a routerLink="/app/user-management" routerLinkActive="active"
        >User Management</a
      >
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </section>
</div>
